@import url('../css/footerShared.css');

.contact-us {
    margin: 2rem 0;
    position: relative;
}

.form-sec {
    background-image: Url('../images/footer-bgtest.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
    max-width: 70%;
    padding: 4.5rem 0rem 5rem;
    border-radius: 20px;
    margin-left: 200px;
}

.contact-us .form-sec .contact-box {
    max-width: 105rem;
    width: 100%;
    margin: 0 auto;
}

.contact-box .contact-section-header {
    margin-bottom: 3rem;
}


.mt-frontend .contact-box .contact-section-header span {
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
}

.contact-box .contact-section-header h3 {
    font-weight: 600;
    font-size: 3.2rem;
}

.contact-box .add-title {
    color: #fff;
    margin-bottom: 2rem;
}

.mt-frontend .contact-box .add-title .title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.mt-frontend .contact-box .add-title a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;

}

.mt-frontend .contact-us .input-style {
    margin-bottom: 2rem;
    max-width: 46rem;
    margin-left: auto;
    padding-top: .3rem;
}

.mt-frontend .contact-us .input-style input {
    border: none;
    width: 100%;
    height: 5rem;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.4rem;
    outline: 0;
    color: #fff;
    position: relative;
}

.mt-frontend .contact-us .input-style input::placeholder {
    color: #fff;
}

.contact-us .input-style input:focus {
    border-bottom: 1px solid #fff;
}

.contact-us .input-style .error+.error {
    color: red;
    display: block;
    position: absolute;
    margin-top: 5px;
    font-size: 1.5rem;
}

.contact-us .form-submition {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact-us .validation {
    visibility: hidden;
}

.contact-us .form-submition button {
    background-color: #fff;
    color: #0066DC;
    font-size: 2rem;
    font-weight: 600;
    max-width: 15.2rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    line-height: normal;
    transition: .5s;
}


.contact-us .form-submition button:hover {
    background: linear-gradient(to right, #002695, #0066DC, #06D8F7);
    color: #fff;
}

@media only screen and (min-width:280px) and (max-width:540px) {
    .contact-us .form-sec {
        max-width: 99%;
        padding: 1.7rem;
        margin-left: auto;
        margin-right: auto;
    }

    .mt-frontend .contact-box .contact-section-header h3 {
        font-size: 3.7rem;
    }

    .contact-box .add-title {
        margin-left: 15px;
    }

    .mt-frontend .contact-box .add-title a {
        line-height: 2.4rem;
    }

    .mt-frontend .contact-us .input-style {
        margin-left: 15px;
        width: 90%;
        margin-top: 20px;
    }

    .contact-us .form-submition {
        margin-right: 10px;
    }
}

@media only Screen and (min-width:768px) and (max-width:912px) {

    .contact-us .form-sec {
        max-width: 90%;
        margin-left: 40px;
    }

    .contact-us .form-submition button {
        margin-right: 20px;
        margin-top: 20px;
    }

    .mt-frontend .contact-us .input-style input {
        width: 88%;
    }

    .contact-box .add-title {
        margin-left: 30px;
    }

}

@media only screen and (min-width:1024px) and (max-width:1280px) {
    .contact-us .form-sec {
        max-width: 90%;
        margin-left: 40px;
        padding: 4rem;
    }

    .mt-frontend .contact-box .add-title .title {
        font-size: 2.3rem;
    }


    .mt-frontend .contact-box .add-title a {
        font-size: 1.7rem;
    }

    .mt-frontend .contact-us .input-style {
        padding-top: 1.9rem;
    }
}



/* contact page style */

.contactPage-navbar {
    position: sticky;
}

.contactPage-navbar .nav-item .nav-link {
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 80px;
    transition: 0.2s;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}


.backToHome-nav {
    position: relative;
    padding: 11px 8px;
    background: #000;
    border: 1px solid #e0dddd;
    -webkit-box-shadow: 1px 1px 0 rgb(255 255 255 / 90%) inset;
    box-shadow: 1px 1px 0rgba(255, 255, 255, .9) inset;
    font-size: 13px;
    margin-bottom: 20px;
    max-width: 70%;
    margin-left: 250px;
    height: 45px;
}

.backToHome-nav ul li {
    padding: 0 2px;
    font-size: 13px;
    color: #fff;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.backToHome-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.backToHome-nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

@media only screen and (min-width:280px) and (max-width:540px) {
    .backToHome-nav {
        max-width: 94%;
        margin-left: 8px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .backToHome-nav {
        max-width: 94%;
        margin-left: 20px;
    }
}

.wrapper {
    max-width: 1650px;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    margin: 0 auto;
}

.map-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.map-contacts {
    width: 100%;
    padding-right: 10px;
}

.map-title {
    font-size: 30px;
    font-weight: 600;
    color: #444;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.contacts-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.contacts-input {
    width: 48.5%;
    margin-bottom: 20px;
}

.input-required {
    position: relative;
}

.contacts-input input {
    display: block;
    width: 100%;
    height: 42px;
    padding: 0 13px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #878787 !important;
}

.contacts-textarea {
    width: 100%;
    margin-bottom: 20px;
}

.contacts-textarea textarea {
    display: block;
    width: 100%;
    height: 280px;
    resize: none;
    padding: 10px 8px 10px 13px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #4e4f51;
}

.contacts-download input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.contacts-download::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    background: url(../images/icon/upload-icon.png);
}

.remove-file-wrap {
    width: 100%;
}

i.fileRemove {
    text-align: center;
    cursor: pointer;
    background: #10a073;
    display: none;
    border: 2px solid #10a073;
    padding: 5px;
    transition: .3s;
    color: #fff;
    font-style: inherit;
    font-weight: 700;
    font-size: 13px;
    float: right;
}

.contacts-form .checkbox {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    display: block;

}

.checkbox-input {
    width: auto;
    display: block;
    margin: 0 50px;
}

#comment-submit {
    width: 100%;
    text-align: center;

}

input#submit,
input[type=submit] {
    color: #000;
    font-size: 13px;
    padding: 10px 45px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #0066DC;
    font-weight: 700;
    border-radius: 20px;
    transition: .3s ease;
}

#comment-submit input:hover {
    background: linear-gradient(to right, #002695, #0066DC, #06D8F7);
    color: #fff;
}

.map-col__img iframe {
    width: 100%;
    height: 250px;
    border: none;
}

.map-col__title {
    font-size: 20px;
}

@media only screen and (min-width:280px) and (max-width:540px) {

    .wrapper .map-contacts .contacts-input {
        width: 100%;
    }
}


/* contact footer*/